In [2]:
import pandas as pd

# Load the dataset
file_path ='Fish.csv'
fish_data = pd.read_csv(file_path)

# Display the first few rows of the dataset
fish_data.head()

  Species  Weight  Length1  Length2  Length3   Height   Width
0   Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1   Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2   Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3   Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4   Bream   430.0     26.5     29.0     34.0  12.4440  5.1340

In [3]:
# Check for missing values
fish_data.isnull().sum()

# Get basic statistics of the dataset
fish_data.describe()

# Encode the 'Species' column if we decide to use it for classification
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()
fish_data['Species'] = label_encoder.fit_transform(fish_data['Species'])

# Separate features and target variable
X = fish_data.drop(columns=['Weight'])  # Features
y = fish_data['Weight']                # Target variable for regression

In [4]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [5]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

# Initialize the model
model = LinearRegression()

# Train the model
model.fit(X_train, y_train)

# Make predictions
y_pred = model.predict(X_test)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f'Mean Squared Error: {mse}')
print(f'R^2 Score: {r2}')

Mean Squared Error: 13727.816553006549
R^2 Score: 0.9034878699241471

In [6]:
import joblib

# Save the model to a file
joblib.dump(model, 'fish_weight_predictor.pkl')

['fish_weight_predictor.pkl']

In [12]:
# Dummy data for inference
dummy_data = [[1, 23.2, 25.4, 30.0, 11.52, 4.02]]

# Make prediction with dummy data
dummy_prediction = model.predict(dummy_data)

c:\Users\victo\Documents\Lab5Enterprise\.venv\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [14]:
print(dummy_prediction[0])

304.1373449526991